services:
	-
		class: Psl\PHPStan\Type\TypeShapeReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension
	-
		class: Psl\PHPStan\Type\TypeOptionalReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension
