services:
	-
		class: Psl\PHPStan\Type\PSLTypeSpecifyingExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension
	-
		class: Psl\PHPStan\Type\PslOptionalReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension
