parameters:
	stubFiles:
		- stubs/optional.stub
		- stubs/OptionalType.stub
		- stubs/Type.stub
		- stubs/TypeInterface.stub

services:
	-
		class: Psl\PHPStan\Type\TypeShapeReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: Psl\PHPStan\Type\AssertTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.methodTypeSpecifyingExtension
